<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">YHOO stock price</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            {{#each chartSeries as |series index|}}
              <input type="checkbox" checked={{series.visible}} onclick={{action "showSeries" index}} /> {{series.name}}
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            {{high-charts mode=chartMode content=chartData chartOptions=chartOptions theme=theme}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">YHOO</div>
      <div class="panel-body">
        {{models-table data=tableData columns=tableColumns changeValue='changeValue' startEditing='startEditing'}}
      </div>
    </div>
  </div>
</div>
