{{#if isEditing}}
  <td>{{bootstrap-datepicker value=bufferedModel.tradeDate class="form-control"}}</td>
  <td>{{input type="number" step="any" class="form-control" value=bufferedModel.openValue}}</td>
  <td>{{input type="number" step="any" class="form-control" value=bufferedModel.closeValue}}</td>
  <td>{{input type="number" step="any" class="form-control" value=bufferedModel.highValue}}</td>
  <td>{{input type="number" step="any" class="form-control" value=bufferedModel.lowValue}}</td>
  <td>{{input type="number" step="1"   class="form-control" value=bufferedModel.volume}}</td>
  <td>
    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-success action-button" {{action "saveRecord"}}>
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-warning action-button" {{action "cancelEdit"}}>
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </td>
{{else}}
  <td>{{moment-format stockQuote.tradeDate 'MM/DD/YYYY'}}</td>
  <td>{{stockQuote.openValue}}</td>
  <td>{{stockQuote.closeValue}}</td>
  <td>{{stockQuote.highValue}}</td>
  <td>{{stockQuote.lowValue}}</td>
  <td>{{stockQuote.volume}}</td>
  <td>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-4">
        <button type="button" class="btn btn-default action-button" {{action "editRecord"}}>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-danger action-button" {{action "deleteRecordWithConfirmation"}}>
          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </td>
{{/if}}

